@media (max-width: 1200px) {
    body {
        height: 98vh;
    }
}

@media (max-width: 992px) {
    body {
        height: 100vh;
    }
    .radio-label {
        /* display: inline-block; */
        width: auto;
        height: 18px;
        padding: 0 9px;
        border: 1px solid rgba(0,0,0,0.08);
        margin-right: 8px;
        background: #d3d3d3;
        line-height: 30px;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
}

@media (max-width: 768px) {
    body {
        height: 170vh;
    }

    .generator {
        display: unset;

    }

    .range {
        width: 92%;
        margin-left: 10px;
    }

}

@media (max-width: 480px) {
    .title {
        margin-bottom: 6px;
        font-size: 21px;
    }
    input {
         margin-top: unset;
    }

}
