@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Palette+Mosaic&display=swap');



body {
    background: rgb(8,126,79);
    background: linear-gradient(0deg, rgb(8, 196, 120) 0%, rgb(63, 185, 206) 23%);
    font-family: 'Bebas Neue', cursive;
    height: 95vh;
}

.box {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.out {
    padding: 40px;
    background-color: #34c49c;
    margin-top: 40px;
    border-radius: 15px;
    line-height: 40px;
    width: 50%;
    text-align: center;
    border: 1px solid #0f5e47;
}

.box-out {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generator {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0 55px;
}

.title {
    text-align: center;
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    margin-bottom: 45px;
    color: #32572c;
}

.range {
    border: 1px solid #0f5e47;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #34c49c;
}

input {
    margin-top: 5px;
}

.border-radius {
    width: 85%;
}

.offsetX {
    width: 85%;
}

.offsetY {
    width: 85%;
}

.blur {
    width: 85%;
}

.spread {
    width: 85%;
}

.b-r {
    margin: 5px;
    color: #32572c;
}

.color {
    text-align: center;
}

.shadow-color{
    width: 60%;
}
.color-box{
    width: 60%;
}

.range input[type=range]{
    border: 1px solid #5F030DC9 ;
}